@charset 'UTF-8';

html {  }


.bd-text-purple {     margin: 1rem;color: #909090; }
.bd-text-purple-bright {     margin: 1rem;color: #909090; }

body {

  
    margin: 0;
}

#body.dragging {
    background-color:#f6f6f6;
  }
#top_panel {
    display: block;
    position: absolute;

    width: 100%;
    background: #333333;
    box-shadow: 0 0.2em 0.3em #888;
    /*color: white;*/
    padding: 0.5em;
    padding-left: 2em;
}
#top_panel .caption {
    color: #ffffff;
    display: block;
    float: left;
    font: bold 0.9em Ubuntu, Verdana, sans-serif;
    padding-right: 2em;
    border-right: 1px solid #909090;
}
#top_panel a {
    display: block;
    float: left;
    padding: 0 1.375em;
    line-height: 50px;
    text-decoration: none;
    font: 0.8em Ubuntu, Verdana, sans-serif;
    color: #c0c0c0;
    border-right: 1px solid #909090;
}
#top_panel a:hover {
    color: white;
}


#svg_container {
  position: absolute;
  /*border: solid 1px orange;*/
  width: 100%;
  top: 2em;
  bottom: 0;
}


div#help_wrapper {
 
 position: absolute;
 
 top: 2em;

  right: 0;
  
font: 1em Ubuntu, Verdana, sans-serif;
 
 padding: 1em;
  
color: gray;
 
 z-index: 1;

 width: 35%;
height:90%;
 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

div#help_wrapper textarea{
 
 background: transparent;

  border: 0 none;
  width: 100%;
height:100%;

}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}


/* SVG */
g.nodes circle { 
  stroke-width: 0.09em;
}


g.nodes circle.marked {

  fill: none;
}


rect.selection {
  shape-rendering : crispEdges;
}


/* Edge of graph */

path.edge {
}

path.catch {
  fill: none;
  stroke: yellow;
  stroke-width: 0.8em;
  stroke-opacity: 0.0;
  /*cursor: pointer;*/
}

.edges text {
  text-shadow: 2px 2px .5px white, -2px -2px .5px white, 2px -2px .5px white, -2px 2px .5px white;
}


/* Textarea */
#c88d9c30-5871-11e4-8ed6-0800200c9a66 {
  font-size: small;
  font-family: Verdana, sans-serif;
  border: solid 1px gray;
  /*border: 0 none white;*/
  overflow: hidden;
  padding: 0;
  outline: none;
  resize: none;
  background-color: white;
  background: rgba(255, 255, 255, 0.6);
  /*background: transparent;*/
}



/* LOADER */
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.btn_discard{
color: #f00;
}