@charset 'UTF-8';

html {  }


.bd-text-purple {     margin: 1rem;color: #909090; }
.bd-text-purple-bright {     margin: 1rem;color: #909090; }

body {

  
    margin: 0;
}

#body.dragging {
    background-color:#f6f6f6;
}



#svg_container {
  position: absolute;
  /*border: solid 1px orange;*/
  width: 100%;
  top: 2em;
  bottom: 0;
}



/* LOADER */
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.btn_discard{
color: #f00;
}